.AddToCart {
  padding: 3px 10px;
  border-radius: 30px;
  background-color: transparent;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
}
.button-container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  justify-content: space-evenly;
}
#delete{
    border: red 2px solid;
    color: red;
}
#update{
    border: green 2px solid;
    color: green;
}

#delete:hover{
    border: red 2px solid;
    color: white;
    background-color: red;
}
#update:hover{
    border: green 2px solid;
    color: white;
    background-color: green;
}