*{
    margin: 0;
    padding: 0;
    width: fit-content;
}
.main-container{
    display: flex;
    flex-direction: row;
    min-width: 100%;
}
.data-render{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    padding: 20px;
    background-color: wheat;
    margin:10px;
    width: 400px;
    justify-content: center;
    align-items: center;
}