.App {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.Card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #ccc;
}
.Card > img {
  min-height: 200px;
  max-height: 200px;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.price {
  color: green;
}
* {
  margin: 0;
  padding: 0;
}
.buy {
  background-color: green;
  border: 1px transparent solid;
  padding: 10px 25px;
  margin-top: 15px;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  width: 100%;
}
.buy:hover {
  background-color: white;
  border: 1px solid green;
  color: green;
}
h2,p {
  margin: 5px 0;
}
p{
  max-width: 250px;
  margin-bottom: 10px;
}
